body {
  color: #37495f;
  margin-top: 50px; }

.btn-thunderclap {
  color: white;
  background-color: #ff9c00;
  box-shadow: 1px 1px 0 #e68c00; }
  .btn-thunderclap:hover {
    color: white;
    text-decoration: none;
    background-color: #ffa61a; }

.btn-frenchtech-natio {
  margin-left: 20px;
  color: white;
  background-color: #f63d43;
  box-shadow: 1px 1px 0 #f5252b; }
  .btn-frenchtech-natio:hover {
    color: white;
    text-decoration: none;
    background-color: #f7555b; }

.btn-subscribe {
  color: white;
  background-color: #3399db;
  box-shadow: 1px 1px 0 #258dd0; }
  .btn-subscribe:hover {
    color: white;
    text-decoration: none;
    background-color: #49a4df; }

.navbar-toggle {
  color: #37495f;
  border-color: #37495f; }
  .navbar-toggle .sr-only, .navbar-toggle .icon-bar {
    color: #37495f;
    border-color: #37495f; }

.navbar {
  border-bottom: 3px solid #96c8df;
  margin-bottom: 0;
  background-color: white;
  min-height: 110px;
  padding-top: 30px; }
  .navbar .buttons a {
    text-transform: uppercase;
    line-height: 1;
    padding: 6px; }
    .navbar .buttons a.social {
      color: white;
      padding: 0; }
      .navbar .buttons a.social .fa-circle {
        color: #dae4ea; }
      .navbar .buttons a.social:hover .fa-circle {
        color: #34495e; }

.navbar-brand {
  height: auto;
  padding: 0; }
  .navbar-brand img {
    margin-top: -14px; }

.nav {
  margin-right: 30px; }
  .nav > li > a {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #37495f; }
    .nav > li > a:hover {
      background-color: inherit;
      text-decoration: underline; }

a.silent {
  color: inherit; }

section.main {
  padding: 50px 0; }
  section.main h1 {
    color: white;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 0; }

section.animation {
  background: #a7dff8 url("http://alsacedigitale.github.io/lancement-frenchtechalsace//img/slide.jpg") repeat center center;
  min-height: 693px;
  margin-top: 110px; }
  section.animation h1 {
    background-color: #f63d43;
    color: white;
    display: inline-block;
    padding: 8px 10px 6px 10px; }
  section.animation h2 {
    color: #0f68a4;
    text-shadow: 1px 1px 0 white; }
    section.animation h2 strong {
      font-style: italic; }

section.partenaires {
  padding: 20px 0; }

section.lancement {
  background: #3399db url("http://alsacedigitale.github.io/lancement-frenchtechalsace//img/motif-bleu.png") repeat; }

section.agenda {
  padding: 50px 0; }
  section.agenda .agenda-row {
    margin-top: 25px; }
    section.agenda .agenda-row img {
      float: right;
      margin-right: 20px; }
    section.agenda .agenda-row .hour {
      color: #3399db;
      font-weight: bold; }
    section.agenda .agenda-row h2 {
      font-weight: bold;
      margin-top: 5px;
      margin-bottom: 5px; }
    section.agenda .agenda-row p {
      margin-bottom: 0; }
  section.agenda > .container:first-child {
    margin-top: 0; }

section.frenchtech {
  background: #e41b23 url("http://alsacedigitale.github.io/lancement-frenchtechalsace//img/motif-rouge.png") repeat; }

section.frenchtech-explanation {
  padding: 20px 0; }
  section.frenchtech-explanation h2 {
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px; }

section.pourquoi {
  padding: 20px 0;
  background-color: #f63d43;
  color: white; }
  section.pourquoi h1 {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px; }
  section.pourquoi img {
    display: block;
    margin: 0 auto 20px; }
  section.pourquoi strong {
    text-transform: uppercase; }

section.frenchtech-natio {
  padding: 20px 0;
  background-color: #d8252b;
  color: white; }
  section.frenchtech-natio strong {
    text-transform: uppercase; }

section.soutenir {
  background: #f39500 url("http://alsacedigitale.github.io/lancement-frenchtechalsace//img/motif-orange.png") repeat; }

section.thunderclap {
  padding: 20px 0;
  background-color: #e87301;
  color: white; }

section.follow {
  background-color: #34495e; }

section.contact {
  background-color: #2d3e50; }

@media screen and (max-width: 767px) {
  .nav {
    margin-right: 0; }

  .buttons {
    text-align: center; }
    .buttons > li {
      padding-bottom: 10px;
      padding-top: 10px;
      display: block;
      position: relative; }

  section.partenaires li {
    display: block;
    position: relative;
    margin-bottom: 20px;
    text-align: center; }

  section.agenda .agenda-row {
    margin: 0 auto; }
    section.agenda .agenda-row img {
      float: none;
      margin: 20px auto; }

  section.pourquoi .row.text-center > div {
    min-height: 200px; } }
