<div class="row programme-row subtitle">
  <div class="col-xs-12">
    <h2 class="h4 text-center text-italic">
      Suite de la soirée à Strasbourg
    </h2>
  </div>
</div>

<div class="row programme-row">
  <div class="col-xs-12 col-md-3">
    <img src="/img/infini.png"/>
  </div>
  <div class="col-xs-12 col-md-8">
    <div class="hour">- 19h30 -</div>
    <h2 class="h4">
      Enjeux de la candidature French Tech
      <br/>
      pour le pôle Métropolitain
    </h2>
    <p>
      Qu'est-ce que la French Tech ? Introduction par Yann Klis, Ambassadeur France Digitale.
    </p>
  </div>
</div>

<div class="row programme-row">
  <div class="col-xs-12 col-md-3">
    <img src="/img/tablette.png"/>
  </div>
  <div class="col-xs-12 col-md-8">
    <div class="hour">- 19h40 -</div>
    <h2 class="h4">
      Alsace Digitale : association ancrée dans le développement numérique
    </h2>
    <p>
      Passé, présent et futur des actions d'<a href="http://www.alsacedigitale.org" class="silent" target="_blank">Alsace Digitale</a> par Stéphane Becker, Président d'<a href="http://www.alsacedigitale.org" class="silent" target="_blank">Alsace Digitale</a>.
    </p>
  </div>
</div>

<div class="row programme-row">
  <div class="col-xs-12 col-md-3">
    <img src="/img/chapeau.png"/>
  </div>
  <div class="col-xs-12 col-md-8">
    <div class="hour">- 19h50 à 21h -</div>
    <h2 class="h4">
      Présentation de startups et projets innovants alsaciens
    </h2>
    <ul class="list-unstyled">
      <li><strong>19h50</strong> : Projet <a href="http://www.lifealth.com" class="silent" target="_blank">Lifealth</a> (initialement iConsult) issu du <a href="http://digitalhealthcamp.eu" class="silent" target="_blank">Hacking Health @ DigitalHealthCamp</a>, mariant santé et numérique</li>
      <li><strong>20h00</strong> : Présentation des membres de <a href="http://www.strasbourg-startups.com" class="silent" target="_blank">Strasbourg Startups</a> (pitch d'1 mn)</li>
      <li><strong>20h10</strong> : Présentation des prospects <a href="http://www.strasbourg-startups.com" class="silent" target="_blank">Strasbourg Startups</a> : JeGereMonBiz, Skimlab, GoyaPhone, EduCloud (démo de 5 mn)</li>
    </ul>
  </div>
</div>

<div class="row programme-row">
  <div class="col-xs-12 col-md-3">
    <img src="/img/cadeau.png"/>
  </div>
  <div class="col-md-8">
    <div class="hour">- 21h00 -</div>
    <h2 class="h4">
      Échanges autour d'un buffet
    </h2>
    <p>
    </p>
  </div>
</div>

<div class="row programme-row ticketing">
  <div class="col-xs-12 col-md-8 col-md-offset-3">
    <a href="http://lancement-frenchtechalsace-strasbourg.eventbrite.fr" class="btn btn-subscribe"><strong>S'inscrire à l'événement de Strasbourg</strong></a>
  </div>
</div>
