<div class="row programme-row subtitle">
  <div class="col-xs-12">
    <h2 class="h4 text-center text-italic">
      Suite de la soirée à Mulhouse
    </h2>
  </div>
</div>

<div class="row programme-row">
  <div class="col-xs-12 col-md-3">
    <img src="/img/chapeau.png"/>
  </div>
  <div class="col-xs-12 col-md-8">
    <div class="hour">- 19h30 à 20h30 -</div>
    <h2 class="h4">
      Présentation de IRI, illustration d'un écosystème dynamique
    </h2>
    <ul>
      <li>Genèse du projet</li>
      <li>Démonstration</li>
      <li>Témoignages des entreprises numériques alsaciennes ayant participé au projet</li>
      <li>Présentation du "pool stagiaires" Novitas, démarche partenariale UHA/Rhénatic/M2A</li>
    </ul>
  </div>
</div>

<div class="row programme-row">
  <div class="col-xs-12 col-md-3">
    <img src="/img/cadeau.png"/>
  </div>
  <div class="col-md-8">
    <div class="hour">- 20h30 -</div>
    <h2 class="h4">
      Échanges autour d'un buffet
    </h2>
    <p>
    </p>
  </div>
</div>
